<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          
          <li class="nav-item"><a href="{{ site.baseurl }}/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/events" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/craters" class="nav-link">Craters</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/meteorites" class="nav-link">Meteorites</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/ai" class="nav-link">AI</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/more" class="nav-link">More</a></li>
          <!--<li class="nav-item"><a href="{{ site.baseurl }}/tag/projects" class="nav-link">Projects</a></li>-->
          
        </ul>
      </div>
     
    </div>
  </nav>
</header>
